.sidebar {
    max-width: 300px;
    border: 1px solid rgba(128, 124, 124, 0.1);
  }
.rowItem {
  border: #EEE 1px solid;
}
.removeRow {
  padding-left: 2px;
  padding-right: 2px;
  cursor: pointer;
}
.treeButton {
  border: none;
  background-color:#fff;
}
.hasChild {
  cursor: pointer;
}
.noChild {
  padding-left: 19px;
}