.sidebar {
    max-width: 240px;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
.collapsed{
  display: none;
}
.menuListItem button {
  padding-left: 10px;
  cursor: pointer;
  border: none;
}
.plus {
  background-color:#ccc;
}

.minus {
  background-color:#fff;
}